# Note: CLIENT_ID and CLIENT_SECRET aren't necessary for now but feature will be added in the future
# The Discord's app token
DISCORD_TOKEN=
# The Discord's app ID (unused)
APPLICATION_ID=
# The Discord's app Public Key (unused)
PUBLIC_KEY=
# Bot's client id (unused)
CLIENT_ID=
# Bot's client secret (unused)
CLIENT_SECRET=
# The port number for express server
PORT=3000
# development | production
mode=development
# redirect url when you trying to do an oauth2
OAUTH2_REDIRECT_URL=http://localhost:3000/Authenticate
# firebase credential (not used anymore)
FIREBASE_CONFIG=
# session secret (not used anymore)
SESSION_SECRET=
# cors origin whitelist
CORS_ORIGIN=http://localhost:3001