# Note: CLIENT_ID and CLIENT_SECRET aren't necessary for now but feature will be added in the future
DISCORD_TOKEN=
APPLICATION_ID=
PUBLIC_KEY=
CLIENT_ID=
CLIENT_SECRET=
PORT=3000
mode=development
OAUTH2_REDIRECT_URI=http://localhost:3000/Authenticate
FIREBASE_CONFIG=